<!DOCTYPE html>
<html lang="en" data-theme="lighttheme">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - حسابدار من</title>
	<meta name="description" content="این برنامه برای حسابداری من هست و لطفا وارد نشودید" />
	<link href="~/CSS/output.css" rel="stylesheet" />
</head>
<body dir="rtl">
	<div class="m-0 max-h-screen bg-primary">

		<header>
			<!--------------------| NavBar |-------------------->
			<div class="navbar bg-secondary">
				<div class="navbar-start">
					<div class="dropdown">
						<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
							<svg xmlns="http://www.w3.org/2000/svg" s
								 class="h-5 w-5"
								 fill="none"
								 viewBox="0 0 24 24"
								 stroke="currentColor">
								<path stroke-linecap="round"
									  stroke-linejoin="round"
									  stroke-width="2"
									  d="M4 6h16M4 12h8m-8 6h16" />
							</svg>
						</div>
						<ul tabindex="0"
							class="menu menu-sm dropdown-content rounded-box z-[1] glass mt-3 w-52 bg-accent p-2 shadow">
							<li><a>افزودن شخص</a></li>
							<li>
								<a>Parent</a>
								<ul class="p-2">
									<li><a></a></li>
									<li><a>Submenu 2</a></li>
								</ul>
							</li>
							<li><a>Item 3</a></li>
						</ul>
					</div>
					<a class="btn btn-ghost text-xl">حسابدار من</a>
				</div>
				<div class="navbar-center hidden lg:flex">
					<ul class="menu menu-horizontal px-1">
						<li>
							<a>
								<img src="~/Icons/user-transfer.png" alt="طرف حساب" class="w-7" />
								<p>طرف حساب</p>
							</a>
						</li>
						<li>
							<details>
								<summary>Parent</summary>
								<ul class="p-2">
									<li><a>Submenu 1</a></li>
									<li><a>Submenu 2</a></li>
								</ul>
							</details>
						</li>
						<li><a>Item 3</a></li>
					</ul>
				</div>
				<div class="navbar-end">
					<a class="btn">Button</a>
				</div>
			</div>
			<!--------------------| NavBar |-------------------->


		</header>
		@RenderBody()
		<footer>
		</footer>
		@await RenderSectionAsync("Scripts", required: false)
	</div>
</body>
</html>
